body {
    background-color: #0d0d0d; /* Fond noir très foncé */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Consolas', monospace; /* Police technique */
}

.clock-container {
    background: rgba(18, 18, 18, 0.7);
    padding: 20px 50px;
    border-radius: 5px;
    /* Ajout d'une bordure lumineuse */
    border: 2px solid #ff00ff; 
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.5);
}

#clock {
    font-size: 6rem;
    color: #00ffff; /* Bleu Cyan brillant */
    letter-spacing: 7px;
    /* Effet de lueur néon */
    text-shadow: 
        0 0 5px #00ffff,
        0 0 10px #00ffff,
        0 0 20px #ff00ff; /* Lueur secondaire Magenta */
}